<% provide(:title, "Contact") %>
<div class="container text-center">
  <h1>Contact</h1>
  <p>For more information, please contact me on
     <%= link_to "LinkedIn", "https://www.linkedin.com/in/ryanbrellenthin" %>.</p>
</div>
